@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
html,
body {
  width: 100%;
  height: 100%;
  /* min-width: 1180px; */
  overflow-x: hidden;
  color: #333;
  background-color: #f4f4f4;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
ul,
li {
  list-style: none;
}
body,
div,
input {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.03em;
}
header {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  min-height: 500px;
  height: 100%;
  /* background-color: #233e83; */
  background-color: #222328;
  color: #fff;
}

.logo {
  width: 48px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -10px;
}

.header_inner {
  height: 100%;
  position: relative;
}

.header_top h1 {
  /* padding: 40px; */
  padding: 40px 40px 20px 40px;
  font-size: 2rem;
}

#gnb > li {
  color: #9799a7;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0;
}

.gnb_sub > li {
  font-size: 1rem;
  text-indent: 1rem;
  margin: 23px 0;
  color: #eff1f1;
}

.gnb_sub > li:hover {
  color: #47c9c6;
}

.header_middle {
  padding: 0 50px;
}

.header_bottom {
  clear: both;
  position: absolute;
  background-color: #2e3138;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.header_bottom > ul {
  text-align: center;
}

.header_bottom > ul > li {
  display: inline-block;
}

.header_bottom > ul > li:first-child {
  margin-right: 10px;
}

.header_bottom > ul > li p {
  padding: 5px;
}
.header_bottom p.title {
  font-weight: bold;
  clear: both;
  color: #9799a7;
}
.header_bottom p.desc {
  color: #eff1f1;
}

main,
footer {
  position: relative;
  left: 280px;
  width: calc(100% - 280px);
}
#main_container {
  width: 100%;
}
main {
  /* background-color: yellow; */
  min-height: 800px;
}

.content_box {
  /* background-color: #fff; */
  background-color: #fff;
  border-radius: 3px;
  width: 85%;
  margin: 30px auto;
  min-height: 100px;
  padding: 40px;
}

.content_title {
  user-select: none;
  font-size: 2rem;
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #d9d9d9;
}

.content_area {
  padding: 30px 0;
}

order_item.on,
h3.on{
	color:tomato;
}

/* footer {
  background-color: thistle;
}

p.copyright {
  text-align: center;
}

footer p.copyright span {
} */

.button {
  font-size: 0.9rem;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-right: 5px;
  overflow: hidden;
}

.button:hover {
  background-color: #233e83;
  color: #fff;
}

/*미디어쿼리*/

@media (max-width: 600px) {
  header {
    position: static;
    width: 100%;
    min-height: 600px;
  }

  .header_bottom {
    /* position: static; */
    display: none;
  }

  main,
  footer {
    width: 100%;
    left: 0;
    padding-left: 0;
  }
}

@media (max-height: 647px) {
  /*세로 메뉴*/
  .header_bottom {
    display: none;
  }
}
