@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
* {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.03em;
}
/* ghost */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
ul {
  list-style: none;
  list-style-type: none;
}
html,
body {
  width: 100%;
  height: 100%;
  /* white space bug fix in chrome */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus {
  outline: 0 none;
}

#login_wrap {
  /* background-color: darkgray; */
  position: relative;
  width: 100%;
  min-height: 100%; /*이걸 해줘야 세로 크기가 줄어도 모양이 찌그러지지 않음*/
}
.background_wrapper,
.background_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.background_wrapper {
  background: url("../images/admin/login_background.jpg") center 0%;
  background-size: cover;
}
.background_wrapper.odd {
  background: url("../images/admin/login_background2.jpg") center 0%;
}
.background_overlay {
  background: rgba(0, 0, 0, 0.5);
}

#login_header {
  position: absolute;
  top: 20px;
  left: 20px;
}

#login_header h1 {
  font-size: 1.6em;
  font-weight: 100;
}

#login_header h1 span,
#login_header h1 strong {
  /* letter-spacing: 0.05em; */
}

#login_content,
#login_footer {
  width: 100%;
}

#login_content {
  padding: 210px 0 0;
}

#login_form {
  /* background-color: darkcyan; */
  max-width: 380px;
  min-height: 435px;
  width: 100%;
  margin: 0 auto;
  padding: 59px 69px 49px; /*◀ TODO: 이 패딩 때문에 화면 가로 폭을 축소하면 레이아웃으 깨진다. 미디어 쿼리 사용해 보기!*/
}

#join_box a,
.login_item_deep,
#login_footer,
#login_form legend,
#login_header {
  color: #fff;
}

#login_form legend {
  user-select: none;
  /* display: none; */
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 100;
  margin-bottom: 20px;
}

#login_form .text_form,
#login_form .login_button {
  width: 100%;
  height: 100%;
}
#login_form .login_item {
  height: 55px;
  margin-top: 10px;
}

#login_form .login_item_deep {
  /* height: 58px;
  line-height: 58px; */
  margin: 25px 0;
  line-height: 3em;
  vertical-align: middle;
}

/* 로그인 폼 디자인 */
#login_form .text_form {
  font-size: 1.001rem;
  color: white;
  background: transparent;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.login_item label,
#login_form .text_form,
#login_form .login_button {
  cursor: pointer;
  user-select: none;
}

#login_form .text_form::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

#login_form .text_form:focus {
  border-bottom: 2px solid rgba(255, 255, 255);
}

#login_form .login_button {
  background-color: #233e83;
  color: #fff;
  border: 0 none;
  font-size: 1em;
  border-radius: 3px;
}

#login_form .login_button:active {
  background-color: #183274;
}

/*로그인 오류 상자*/
#errorMessage{
	width:100%;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
}
#errorMessage p.message{
	text-align:center;
	font-size:0.9rem;
}

/* 회원가입 */
#join_box {
  font-size: 0.85rem;
  margin: 40px 0 0 !important;
}
#join_box a {
  float: left;
}
#join_box ul {
  float: right;
}
#join_box ul {
  padding: 0;
  list-style: none;
}
#join_box ul li {
  float: left;
}
#join_box ul li:not(:first-child):before {
  content: "";
  float: left;
  width: 1px;
  height: 5px;
  margin: 4px 10px;
  background-color: #e5e5e5;
}

/* footer */
hr#border {
  visibility: hidden;
  margin: 0 2%;
  border-top: 2px solid #fff;
}
#login_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  /* background-color: darkgoldenrod; */
  font-size: 0.8rem;
  text-align: center;
}

#login_footer .fnb {
  margin: 10px 0;
  word-break: keep-all;
}
#login_footer .fnb a {
  margin: 0 10px;
}

#login_footer small {
  font-size: 0.9em;
}

/* 반응형 */
@media (max-width: 519px) {
  #login_form {
    padding: 59px 0 49px; /*◀ TODO: 이 패딩 때문에 화면 가로 폭을 축소하면 레이아웃으 깨진다. 미디어 쿼리 사용해 보기!*/
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }
  #login_content {
    padding: 30px 0 0;
  }
  #login_form legend {
    display: none;
  }

  hr#border {
    visibility: visible;
  }
}
/*레이아웃 깨짐 방지*/
@media (max-width: 295px) {
  #login_wrap {
    min-width: 295px;
  }
}

@media (max-width: 500px) {
  body {
    min-width: 500px;
  }
}
