@charset "UTF-8";
h2,
h3 {
  font-weight: 300;
  font-family: "나눔스퀘어", NanumSquare, NS, "맑은 고딕", MalgunGothic, "돋움", Dotum;
}

.banner_visual.join {
  background: url("../images/authentication/join.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
}

.banner_visual.join h2 {
  font-weight: 300;
  padding-top: 230px;
}

.navy_button {
  user-select: none;
  display: block;
  background-color: #233e83;
  border: 0;
  cursor: pointer;
  width: 500px;
  height: 66px;
  line-height: 66px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.navy_button:hover {
  color: #fff;
}

.row_full {
  background: url("../images/authentication/login.jpg") center;
  background-size: cover;
  background-attachment: fixed;

  padding: 220px 0;
}

.login {
  color: #fff;
  margin-bottom: 50px;
}

.join {
  color: #fff;
  margin-bottom: 100px;
}

.login p,
.login h2,
.join p,
.join h2 {
  text-align: center;
}

.login h2,
.join h2 {
  font-size: 5.5rem;
  font-weight: 100;
}

.welcome {
  font-size: 2.5rem;
  padding: 65px 0 25px;
}

.whitebox {
  width: 800px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 50px 0;
}

.whitebox hr {
  width: 15%;
  margin: 50px auto;
}

.whitebox .checkbox_row {
  margin: 15px 0;
}

.whitebox button {
  border: 0 none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.joinbox {
  margin-top: 100px;
  padding: 50px 0;
  width: 1180px;
  border: 1px solid #d9d9d9;
}

.joinbox h3,
.joinbox p.join_text {
  text-align: center;
}

.joinbox h3 {
  /* margin-top: 30px; */
  font-size: 2rem;
}

p.join_text {
  margin: 20px 0 40px;
}

.joinbox select {
  width: 175px;
  height: 57px;
}

.joinbox input,
.joinbox select {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 10px;
}

.joinbox input:focus {
  border: 1px solid #233e83;
}

.component_wrap {
  border-bottom: 1px solid #ebebeb;

  clear: both;
  width: 680px;
  margin: 0 auto;
  padding: 50px 0;
}

ul.email {
  clear: both;
}
ul.email > li {
  display: inline-block;
  line-height: 55px;
}
ul.email input {
  width: 211px;
  height: 20px;
  padding: 18px 10px;
  margin: 0 5px;
}
ul.email .id {
  margin-left: 0;
}
ul.email .domain {
  margin-right: 5px;
}
ul.email {
  text-align: center;
}

.agreement_box {
  width: 100%;
  margin: 30px 0;
}
.join_item_title:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.join_item_title {
  margin: 20px 0;
}

.join_item_title.submit {
  margin-top: 50px;
}

.join_item_title.all h4 {
  font-size: 1.3rem;
  font-weight: normal;
  float: left;
}

.join_item_title.all h4 span {
  font-size: 0.9rem;
}

.join_item_title.all input {
  float: left;
  margin-right: 10px;
}

.join_item_title h4 {
  font-size: 1.2rem;
  font-weight: normal;
  float: left;
}

.join_item_title h4 span.color {
  color: #233e83;
  font-size: 1.1rem;
  font-weight: bold;
}

.join_item_title input {
  float: right;
}

.agreement_content_box {
  clear: both;
  background-color: #f8f8f8;
  border: 1px solid #d9d9d9;
  color: #7a7a7a;
  border-radius: 3px;
  padding: 20px;
  height: 100px;
  font-size: 0.9rem;
  line-height: 1.25rem;
  overflow-y: auto;
}

.join_item {
  padding: 5px 50px;
}

.join_form strong {
  display: inline-block;
  width: 20%;
}
.join_form input {
  width: 75%;
  height: 50px;
}
.join_form p.desc {
  user-select: none;
  color: #797979;
  margin: 10px 0 10px 21%;
  letter-spacing: -0.08rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
}

.subtitle,
.title,
.content_text {
  text-align: center;
}

.subtitle {
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
  color: #233e83;
}

.content_text {
  letter-spacing: -0.05rem;
  line-height: 1.5rem;
  color: #818181;
  margin-bottom: 30px;
}

.text_input {
  width: 480px;
  height: 30px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.text_input:first-child {
  margin-bottom: 10px;
}
.login_menu {
  margin: 20px 0;
}
.login_menu a {
  display: block;
  float: left;
  width: 164px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: solid 1px #ccd5e2;
  font-size: 13px;
  font-weight: 500;
  color: #002f6c;
  box-sizing: border-box;
}
.login_menu a:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.login_menu li:not(:last-child) a {
  margin-right: 4px;
}
