.banner_visual {
  background: url("../images/board/banner_event.jpg") no-repeat center 25%;
  background-size: cover;
  color: #fff;
}

.lnb > li,
.lnb > li.on,
.lnb > li:first-child,
.lnb > li.on:first-child {
  border-color: #fff;
}

.lnb > li > a {
  color: #fff;
}

.lnb > li.on,
.lnb > li:hover {
  background-color: #fff;
  border-color: #fff;
}
.lnb > li.on > a,
.lnb > li:hover > a {
  color: #333;
}

* {
	margin: 30px auto;
	padding: 0;
}

.eventBox {
	width: 1000px;
	margin: 30px auto;
}

.nav-box {
  width: 100%;
  height: 30px;
}

.nav {
  text-align: right;
  margin: 20px 0;
  padding-bottom: 30px;
  color: #454545;
  font-size: 13px;
  border-bottom: 2px solid #233e83;
}

td {
	padding:40px 0;
	text-align: center;
	border-bottom: 1px solid #d9d9d9;
}