@charset "UTF-8";

.banner_visual {
  background: url("../images/store/store_visual.jpg") center 24%;
}

.contents_header {
  margin-top: 100px;
  padding: 30px 0 60px;
}

h3 {
  font-weight: normal;
  font-size: 1.8rem;
  float: left;
}

#search {
  float: right;
}

#stores {
  width: 100%;
  border-top: 3px solid #233e83;
}

#stores tr:hover td {
  font-weight: bold;
}

#stores tr:hover td.store_name {
  color: #233e83;
}

#stores tr {
  border-bottom: 1px solid #d9d9d9;
}

#stores td {
  padding: 20px;
}

/*form*/
#search {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
#search input,
#search button {
  border: 0;
  background: transparent;
}
#search button {
  cursor: pointer;
}
